.challenges-board {
  display: flex;
}

.challenges-board > .board-column  {
  margin: 20px;
  padding: 30px 15px;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid steelblue;
}

.challenges-board > .board-column > .board-item  {
  background-color: #eee;
  padding: 8px 15px;
  margin: 20px 0px;
}
